<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/commonHead :: common_header(~{::title},~{})">
    <title>管理员登录-后台管理系统-WeAdmin 1.0</title>
</head>
<body class="login-bg">
    <div class="login">
        <div class="message">后台管理系统</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="userName" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            <!--<div th:text="${oprt}">-->
            <!--<div id="msg" style="text-align: center;color: #ff0000">-->
            </div>
        </form>
    </div>
    <script type="text/javascript" th:replace="common/fragment :: commonVar"></script>
    <script type="text/javascript">
        
        	layui.extend({
				admin: '{/}../static/js/admin'
			});
            layui.use(['form','admin'], function(){
              var form = layui.form
              	,admin = layui.admin;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                  ticc.ajaxRequest(basePath+"/sysAdmin/login",data.field,function (data) {

                      if (data.status==true&&data.code==0){
                          window.location.href = basePath+"/sysAdmin/index";
                      }else{
//                          $("#msg").html(data.msg);
                           layer.msg(data.msg, function(){
                             //关闭后的操作
                             });
                      }
                  });
                return false;
              });
            });



    </script>  
    <!-- 底部结束 -->
</body>
</html>